## Java ignores
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

## Eclipse ignores
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath