header {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0px;
	width: 100%;
}

header>form>input {
	background-color: yellow;
	padding: 10px;
	margin: 0px 10px;
}

header>form>input:hover {
	background-color: #80ff00;
	color: blue;
	cursor: pointer;
}

.container {
	align-items: center;
	background: rgba(55, 255, 255, 1);
	border: solid 1px black;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	justify-content: center;
	margin: 20px;
	padding: 0px 50px 50px 50px;
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 2px solid black;
	padding: 10px 15px;
}